<mat-toolbar>
  <img width="40px" alt="Logo" src="../assets/icons/icon-72x72.png">
  <span class="title-center">Discover Places</span> 
</mat-toolbar>
<br>
<div style="text-align:center">
  <button mat-raised-button type="button" style="width: 50%;" (click)="onGetRandomClick()">Pick a random place</button>
  <button mat-raised-button type="button" style="width: 50%;" (click)="onGetLocalizationClick()">Get my localization</button>
</div>
<div>
  <aol-map #map [width]="'100%'" [height]="'100vw'" (onSingleClick)="onMapClick($event)" style="background-color: lightgrey">
    <!-- <aol-interaction-draw type="Point"></aol-interaction-draw> -->
    <aol-interaction-default></aol-interaction-default>
    <aol-view [zoom]="mapZoom">
        <aol-coordinate [x]="longitude" [y]="latitude" [srid]="'EPSG:4326'"></aol-coordinate>
    </aol-view> 
    <aol-layer-tile>
        <aol-source-osm></aol-source-osm>
    </aol-layer-tile>
    <aol-layer-vector>
      <aol-source-vector>
          <!-- <aol-overlay>
              <aol-coordinate [x]="-45.89279472860653" [y]="-23.196065627947135" [srid]="'EPSG:4326'"></aol-coordinate>
              <aol-content>
                  <div class="my-overlay-class">
                      <h1>Overlay</h1>
                  </div>
              </aol-content>
          </aol-overlay> -->
          <aol-feature>
              <aol-geometry-point>
                  <aol-coordinate [x]="longitude" [y]="latitude" [srid]="'EPSG:4326'"></aol-coordinate>
              </aol-geometry-point>
              <aol-style>
                  <aol-style-circle [radius]="10">
                      <!-- <aol-style-stroke [color]="'black'" [width]="'10'"></aol-style-stroke> -->
                      <aol-style-fill [color]="dotColor"></aol-style-fill>
                  </aol-style-circle>
              </aol-style>
          </aol-feature>
      </aol-source-vector>  
    </aol-layer-vector>    
  </aol-map>
  <button mat-raised-button type="button" style="width: 50%;" (click)="setMapZoom(1)">Zoom in</button>
  <button mat-raised-button type="button" style="width: 50%;" (click)="setMapZoom(-1)">Zoom out</button>
</div>

<router-outlet></router-outlet>
